<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakesForAll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalYearProject.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar">
            
        </div>
        <nav class="navbar navbar-top navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Bakes" asp-action="Index">BakesForAll</a>
                
                <!-- Flex container for logo and search bar -->
                <div class="d-flex align-items-center ms-auto">
                    <!-- Search Bar with Icon -->
                    <form class="d-flex" action="/search" method="GET">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                            </button>
                        </div>
                    </form>
                </div>

                <div class="account-button">
                    <button class="btn btn-outline-secondary">
                        <i class="fas fa-user"></i>
                    </button>
                </div>

                <div class="basket-button">
                    <button class="btn btn-outline-secondary">
                        <i class="fas fa-shopping-basket"></i>
                    </button>
                </div>
            </div>
        </nav>

        <!-- Add Font Awesome link for the search icon -->
        <head>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        </head>

        <nav class="navbar navbar-bottom">
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-nav-bottom">
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Cupcakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Brownies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Cheesecakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Birthdays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-bottom" asp-area="" asp-controller="Search" asp-action="Index">Easter</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-bottom dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gifts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Gifts for Him</a>
                            <a class="dropdown-item" href="#">Gifts for Her</a>
                            <a class="dropdown-item" href="#">Gifts for Parents</a>
                            <a class="dropdown-item" href="#">Gifts for Grandparents</a>
                            <a class="dropdown-item" href="#">Gifts for Teachers</a>
                            <a class="dropdown-item" href="#">Thank you gifts</a>
                            <a class="dropdown-item" href="#">Wedding gifts</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BakesForAll - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
