@{
    ViewData["Title"] = "Payment";
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <a id="submitPay" class="btn btn-primary mt-3" asp-controller="Order" asp-action="CreatePaymentIntent" asp-route-amount="@Model.TotalAmount" method="post">
                                    <div class="spinner d-none" id="spinner"></div>
                                    <span id="button-text">Pay Now</span>
                                </a>
                        </div>
                    </div>
}

<div class="text-center">
    <h1 class="display-4">Payment Page</h1>
</div>